---
layout: default
title: Export PDF
search_exclude: true
nav_exclude: true
print: true
---

<style>
 @media print {

    html,
    body {
      background: #ffffff !important;
      color: #000 !important;
      font-family: serif;
      line-height: 1.5;
    }

    section.print-page {
      page-break-after: always;
      position: relative;
    }

    section.print-page:last-child {
      page-break-after: auto;
    }
  .print-toc {
    page-break-after: always;
  }

  .print-toc ul {
    list-style: none;
    padding-left: 0;
  }

  .print-toc li {
    margin-bottom: 0.4em;
  }

  .print-toc a {
    text-decoration: none;
    color: black;
    font-size: 18pt;

  }

  /*Musica2 en filigrane*/
  main::before {
  content: "";
  position: absolute;
  background-position: center;
  inset: 0;
  background: url("/guideline/assets/images/musica2.png") center / 60% no-repeat;
  opacity: 0.08;
  pointer-events: none;
  z-index: 0;
}

  /*Page de garde*/

   .print-cover {
    height: calc(297mm 4cm); /*les 4cm correspondent aux marges indiqués dans generate-pdf.js*/
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Titre en haut, footer en bas */
    padding: 2cm;
    page-break-after: always;
    break-after: page;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .cover-title {
    font-size: 36pt;
    margin-bottom: 0.5cm;
  }

  .cover-subtitle {
    font-size: 30pt;
    margin-bottom: 2cm;
    opacity: 0.8;
  }
  
  .cover-main-logo {
    display: flex;
    justify-content: center;
    margin: 2cm 0;
  }

  #cover-image {
    display: block;
    margin: 0 auto 1cm auto; /* centrée et espacée du footer */
    max-width: 12cm;
    height: auto;
    object-fit: contain;
  }
  
  .footer-images {
    display: flex;
    justify-content: center;
    gap: 1.5cm;
    margin-bottom: 0;
  }

  .footer-images img {
    max-height: 2.5cm;
    width: auto;
    object-fit: contain;
    opacity: 0.9;
  }


  /*Titres*/
    h1,
    h2,
    h3 {
      break-after: avoid;
      page-break-after: avoid;
      break-before: avoid;
      page-break-before: avoid;
    }

    h1 {
      font-size: 28pt;
      margin-top: 2cm;
      margin-bottom: 1cm;
    }

    h2 {
      font-size: 24pt;
      margin-top: 1.2cm;
      margin-bottom: 0.6cm;
    }

    h3 {
      font-size: 18pt;
      margin-top: 0.8cm;
      margin-bottom: 0.4cm;
      orphans: 3;
      widows: 3;
    }

    p,
    li {
      font-size: 16pt;
      text-align: justify;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin: 1em 0;
      font-size: 16pt;
      break-inside: avoid;
      page-break-inside: avoid;
    }

    .language-xml {
      font-size: 14pt;
      break-inside: avoid;
      page-break-inside: avoid;
    }

    th,
    td {
      border: 1px solid #000;
      padding: 0.3em 0.5em;
      vertical-align: top;
    }

    a {
      color: #000;
      text-decoration: none;
    }

    nav,
    .sidebar,
    .footer {
      display: none !important;
    }
  }


</style>

{% assign pages = site.pages | sort: "nav_order" %}
<div style="position:relative; height:100vh; page-break-after:always;">
  <div class="version"
       style="
         position:absolute;
         bottom:0;
         left:0;
         right:0;
         text-align:center;
         font-size:10px;
         color:#666;
         padding-bottom:1cm;
       ">
    <p>Version du pdf : {{ 'now' | date: "%d %m %Y" }}</p>
  </div>
</div>
<section class="print-toc">
  <h1>Sommaire</h1>

  <ul class="toc-level-1">
    {% assign pages = site.pages | sort: "nav_order" %}
    {% for p in pages %}
    {% if p.nav_order and p.title and p.print != false and p.has_children != true %}
    <li class="toc-h{{ p.level | default: 2 }}">
      <a href="#{{ p.title | slugify }}">{{ p.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</section>


{% for p in pages %}
{% if p.nav_order and p.title and p.url != "/print.html" and p.print != false and p.has_children != true %}
<section class="print-page" id="{{ p.title | slugify }}">
  {{ p.content | markdownify }}
  <div class="md-break"></div>
</section>

{% endif %}
{% endfor %}


<ul>
  <li><a href="#aco">ACO:</a></li>
  <li><a href="#bcd">BCD:</a></li>
<li><a href="A-GCO_ref1"> ACO : Désignation de la collection]</a></li>
<li><a href="AFR_ref1"> AFR : Désignation de la forme]</a></li>
<li><a href="AGN_ref1"> AGN : Désignation du genre musical]</a></li>
<li><a href="AIN_ref1"> AIN : Effectif]</a></li>
<li><a href="AMD_ref1"> AMD : Classification du mode (Moyen âge et Renaissance</li>]</a></li>
<li><a href="AMT_ref1"> AMT : Classification métrique]</a></li>
<li><a href="AST_ref1"> AST : Désignation du style/période/typologie de l'œuvre]</a></li>
<li><a href="CBL_ref1"> CBL : Lieu de naissance (et de décès</li> d'un compositeur]</a></li>
<li><a href="CBL_ref1"> CDL : Lieu (de naissance et</li> de décès d'un compositeur]</a></li>
<li><a href="CDT_ref1"> CDT : Dates de naissance et de décès du compositeur]</a></li>
<li><a href="CNT_ref1"> CNT : Nationalité du compostieur]</a></li>
<li><a href="COA_ref1"> COA : Compositeur attribué à l'édition MEI encodée]</a> / <a href="COA_ref2">COA : Compositeur attribué à l'œuvre
musicale</a></li>
<li><a href="COL_ref1"> COL : Alias ou pseudonyme du compositeur]</a></li>
<li><a href="COM_ref1"> COM : Compositeur de l'édition MEI encodée]</a><a href="COM_ref2"> / COM : Compositeur de l'œuvre musicale]</a><a href="COM_ref3">/ COM :
Compositeur de la source utilisée pour l'édition digitale]</a></li>
<li><a href="COS_ref1"> COS : Compositeur soupçonné]</a></li>
<li><a href="EEV_ref1"> EEV : Version de l'édition électronique]</a></li>
<li><a href="EFL_ref1"> EFL : Numéro du fichier électronique]</a></li>
<li><a href="EMD_ref1"> EMD : Modification du document électronique]</a></li>
<li><a href="ENC_ref1"> ENC : Encodeur de l'édition électronique]</a></li>
<li><a href="END_ref1"> END : Date d'encodage de l'édition électronique]</a></li>
<li><a href="GAW_ref1"> GAW : Œuvre associée]</a></li>
<li><a href="A-GCO_ref1"> GCO : Désignation de la collection]</a>-GCO_ref1</li>
<li><a href="GTL_ref1"> GTL : Titre de la collection]</a></li>
<li><a href="LAR_ref1"> LAR : Nom de l'arrangeur]</a></li>
<li><a href="LIB_ref1"> LIB : Nom du librettiste]</a></li>
<li><a href="LOR_ref1"> LOR : Nom de l'orchestrateur]</a></li>
<li><a href="MCN_ref1"> MCN : Nom du responsable de l'exécution/représentation (chef d'orchestre)</li></a></li>
<li><a href="MGN_ref1"> MGN : Nom du groupe des interprètes]</a></li>
<li><a href="MLC_ref1"> MLC : Lieu d'exécution/représentation]</a></li>
<li><a href="MPN_ref1"> MPD : Date de la première exécution/représentation]</a></li>
<li><a href="MPN_ref1"> MPN : Nom de l'interprète]</a></li>
<li><a href="MRD_ref1"> MRD : Date d'exécution/représentation]</a></li>
<li><a href="MPS_ref1"> MPS : Nom de l'interprète soupçonné]</a></li>
<li><a href="OAC_ref1"> OAC : Numéro d'acte]</a></li>
<li><a href="OCO_ref1"> OCO : Commanditaire]</a></li>
<li><a href="OCL_ref1"> OCL : Collecteur de la musique]</a></li>
<li><a href="OCY_ref1"> OCY : Pays de composition de l'œuvre encodée]</a></li>
<li><a href="ODE_ref1"> ODE : Dédicace]</a></li>
<li><a href="ODT_ref1"> ODT : Date de composition]</a></li>
<li><a href="OMV_ref1"> OMV : Numéro de mouvement]</a></li>
<li><a href="OMD_ref1"> OMD : Désignation du mouvement ou nom du mouvement]</a></li>
<li><a href="ONM_ref1"> ONB : Note de format libre / Nota bene]</a></li>
<li><a href="ONM_ref1"> ONM : Numéro]</a></li>
<li><a href="OPR_ref1"> OPR : Titre de l'œuvre d'appartenance]</a></li>
<li><a href="OPC_ref1"> OPC : Ville de composition]</a></li>
<li><a href="OPS_ref1"> OPS : Numéro d'opus]</a></li>
<li><a href="OSC_ref1"> OSC : Numéro de scène]</a></li>
<li><a href="OTA_ref1"> OTA : Titre alternatif de l'œuvre]</a></li>
<li><a href="OTL_ref1"> OTL : Titre de l'édition MEI]</a><a href="OTL_ref2"> </li> / OTL : Titre de l'œuvre]</a></li> / OTL : Titre de l'œuvre
musicale]<a href="OTL_ref3"><a href="OTL_ref4"> </a></li> / OTL : Titre de la source]</a></li>
<li><a href="OTP_ref1"> OTP : Titre courant de l'œuvre]</a></li>
<li><a href="OVM_ref1"> OVM : Volume]</a></li>
<li><a href="PC_ref1"> PC# : Numéro de catalogue de l'éditeur]</a></li>
<li><a href="PDT_ref1"> PDT : Date de la première publication]</a></li>
<li><a href="PED_ref1"> PED : Éditeur de la source utilisée pour l'édition digitale]</a></li>
<li><a href="PPP_ref1"> PPP : Lieu de publication]</a></li>
<li><a href="PPR_ref1"> PPR : Premier éditeur]</a></li>
<li><a href="PTL_ref1"> PTL : Titre de la publication]</a></li>
<li><a href="PUB_ref1"> PUB : Publication]</a></li>
<li><a href="SCA-T_ref1"> SCA : Numéro de catalogue scientifique]</a></li>
<li><a href="SCA-T_ref1"> SCT : Numéro de catalogue scientifique]</a></li>
<li><a href="SMA_ref1"> SMA : Informations sur l'accès au manuscrit]</a></li>
<li><a href="SML_ref1"> SML : Lieu de conservation du manuscrit]</a></li>
<li><a href="SMS_ref1"> SMS : Titre du manuscrit]</a></li>
<li><a href="TRN_ref1"> TRN : Traducteur du texte]</a></li>
<li><a href="TXL_ref1"> TXL : Langue de la pièce encodée (si différente de la langue originale</li>]</a></li>
<li><a href="TXO_ref1"> TXO : Langue originale de l'œuvre]</a></li>
<li><a href="YEC_ref1"> YEC : Date et propriétaire du copyright de l'édition électronique]</a></li>
<li><a href="YEM_ref1"> YEM : Licence]</a></li>
<li><a href="YEN_ref1"> YEN : Pays de copyright]</a></li>
<li><a href="YEP_ref1"> YEP : Éditeur de l'édition électronique]</a></li>
<li><a href="YER_ref1"> YER : Date de mise à disposition de l'édition électronique]</a></li>
<li><a href="YOE_ref1"> YOE : Éditeur du document d'origine]</a></li>
<li><a href="YOO_ref1"> YOO : Propriétaire du document d'origine]</a></li>
<li><a href="YOR_ref1"> YOR : Document d'origine de l'édition électronique]</a></li>
<li><a href="YOY_ref1"> YOY : Année du copyright du document d'origine]</a>)
</ul>