---
layout: default
title: Export PDF
search_exclude: true
nav_exclude: true
print: true
---

<style>
  @media print {

    html,
    body {
      background: #fff !important;
      color: #000 !important;
      font-family: serif;
      font-size: 11pt;
      line-height: 1.5;
    }

    section.print-page {
      page-break-after: always;
    }

    section.print-page:last-child {
      page-break-after: auto;
    }
  .print-toc {
    page-break-after: always;
  }

  .print-toc ul {
    list-style: none;
    padding-left: 0;
  }

  .print-toc li {
    margin-bottom: 0.4em;
  }

  .print-toc a {
    text-decoration: none;
    color: black;
  }
    h1,
    h2,
    h3 {
      break-after: avoid;
      page-break-after: avoid;
      break-before: avoid;
      page-break-before: avoid;
    }

    h1 {
      font-size: 24pt;
      margin-top: 2cm;
      margin-bottom: 1cm;
    }

    h2 {
      font-size: 18pt;
      margin-top: 1.2cm;
      margin-bottom: 0.6cm;
    }

    h3 {
      font-size: 14pt;
      margin-top: 0.8cm;
      margin-bottom: 0.4cm;
      orphans: 3;
      widows: 3;
    }

    p,
    li {
      font-size: 11pt;
      text-align: justify;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin: 1em 0;
      font-size: 10pt;
      break-inside: avoid;
      page-break-inside: avoid;
    }

    th,
    td {
      border: 1px solid #000;
      padding: 0.3em 0.5em;
      vertical-align: top;
    }

    a {
      color: #000;
      text-decoration: none;
    }

    nav,
    .sidebar,
    .footer {
      display: none !important;
    }
  }
</style>

{% assign pages = site.pages | sort: "nav_order" %}

<section class="print-toc">
  <h1>Sommaire</h1>

  <ul class="toc-level-1">
    {% assign pages = site.pages | sort: "nav_order" %}
    {% for p in pages %}
    {% if p.nav_order and p.title and p.print != false and p.has_children != true %}
    <li class="toc-h{{ p.level | default: 2 }}">
      <a href="#{{ p.title | slugify }}">{{ p.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</section>

<div class="page-break"></div>

{% for p in pages %}
{% if p.nav_order and p.title and p.url != "/print.html" and p.print != false and p.has_children != true %}
<section class="print-page" id="{{ p.title | slugify }}">
  {{ p.content | markdownify }}
  <div class="md-break"></div>
</section>

{% endif %}
{% endfor %}

- [ACO : Désignation de la collection](#A-GCO_ref1)
- [AFR : Désignation de la forme](#AFR_ref1)
- [AGN : Désignation du genre musical](#AGN_ref1)
- [AIN : Effectif](#AIN_ref1)
- [AMD : Classification du mode (Moyen âge et Renaissance)](#AMD_ref1)
- [AMT : Classification métrique](#AMT_ref1)
- [AST : Désignation du style/période/typologie de l'œuvre](#AST_ref1)
- [CBL : Lieu de naissance (et de décès) d'un compositeur](#CBL_ref1)
- [CDL : Lieu (de naissance et) de décès d'un compositeur](#CBL_ref1)
- [CDT : Dates de naissance et de décès du compositeur](#CDT_ref1)
- [CNT : Nationalité du compostieur](#CNT-ref1)
- [COA : Compositeur attribué à l'édition MEI encodée](#COA_ref1) / [COA : Compositeur attribué à l'œuvre
musicale](#COA_ref2)
- [COL : Alias ou pseudonyme du compositeur](#COL_ref1)
- [COM : Compositeur de l'édition MEI encodée](#COM_ref1) / [COM : Compositeur de l'œuvre musicale](#COM_ref2) / [COM :
Compositeur de la source utilisée pour l'édition digitale](#COM_ref3)
- [COS : Compositeur soupçonné](#COS_ref1)
- [EEV : Version de l'édition électronique](#EEV_ref1)
- [EFL : Numéro du fichier électronique](#EFL_ref1)
- [EMD : Modification du document électronique](#EMD_ref1)
- [ENC : Encodeur de l'édition électronique](#ENC_ref1)
- [END : Date d'encodage de l'édition électronique](#END_ref1)
- [GAW : Œuvre associée](#GAW_ref1)
- [GCO : Désignation de la collection](#A-GCO_ref1)
- [GTL : Titre de la collection](#GTL_ref1)
- [LAR : Nom de l'arrangeur](#LAR_ref1)
- [LIB : Nom du librettiste](#LIB_ref1)
- [LOR : Nom de l'orchestrateur](#LOR_ref1)
- [MCN : Nom du responsable de l'exécution/représentation (chef d'orchestre)](#MCN_ref1)
- [MGN : Nom du groupe des interprètes](#MGN_ref1)
- [MLC : Lieu d'exécution/représentation](#MLC_ref1)
- [MPD : Date de la première exécution/représentation](#MPN_ref1)
- [MPN : Nom de l'interprète](#MPN_ref1)
- [MRD : Date d'exécution/représentation](#MRD_ref1)
- [MPS : Nom de l'interprète soupçonné](#MPS_ref1)
- [OAC : Numéro d'acte](#OAC_ref1)
- [OCO : Commanditaire](#OCO_ref1)
- [OCL : Collecteur de la musique](#OCL_ref1)
- [OCY : Pays de composition de l'œuvre encodée](#OCY_ref1)
- [ODE : Dédicace](#ODE_ref1)
- [ODT : Date de composition](#ODT_ref1)
- [OMV : Numéro de mouvement](#OMV_ref1)
- [OMD : Désignation du mouvement ou nom du mouvement](#OMD_ref1)
- [ONB : Note de format libre / Nota bene](#ONM_ref1)
- [ONM : Numéro](#ONM_ref1)
- [OPR : Titre de l'œuvre d'appartenance](#OPR_ref1)
- [OPC : Ville de composition](#OPC_ref1)
- [OPS : Numéro d'opus](#OPS_ref1)
- [OSC : Numéro de scène](#OSC_ref1)
- [OTA : Titre alternatif de l'œuvre](#OTA_ref1)
- [OTL : Titre de l'édition MEI](#OTL_ref1) / [OTL : Titre de l'œuvre](#OTL_ref2) / [OTL : Titre de l'œuvre
musicale](#OTL_ref3) / [OTL : Titre de la source](#OTL_ref4)
- [OTP : Titre courant de l'œuvre](#OTP_ref1)
- [OVM : Volume](#OVM_ref1)
- [PC# : Numéro de catalogue de l'éditeur](#PC_ref1)
- [PDT : Date de la première publication](#PDT_ref1)
- [PED : Éditeur de la source utilisée pour l'édition digitale](#PED_ref1)
- [PPP : Lieu de publication](#PPP_ref1)
- [PPR : Premier éditeur](#PPR_ref1)
- [PTL : Titre de la publication](#PTL_ref1)
- [PUB : Publication](#PUB_ref1)
- [SCA : Numéro de catalogue scientifique](#SCA-T_ref1)
- [SCT : Numéro de catalogue scientifique](#SCA-T_ref1)
- [SMA : Informations sur l'accès au manuscrit](#SMA_ref1)
- [SML : Lieu de conservation du manuscrit](#SML_ref1)
- [SMS : Titre du manuscrit](#SMS_ref1)
- [TRN : Traducteur du texte](#TRN_ref1)
- [TXL : Langue de la pièce encodée (si différente de la langue originale)](#TXL_ref1)
- [TXO : Langue originale de l'œuvre](#TXO_ref1)
- [YEC : Date et propriétaire du copyright de l'édition électronique](#YEC_ref1)
- [YEM : Licence](#YEM_ref1)
- [YEN : Pays de copyright](#YEN_ref1)
- [YEP : Éditeur de l'édition électronique](#YEP_ref1)
- [YER : Date de mise à disposition de l'édition électronique](#YER_ref1)
- [YOE : Éditeur du document d'origine](#YOE-ref1)
- [YOO : Propriétaire du document d'origine](#YOO-ref1)
- [YOR : Document d'origine de l'édition électronique](#YOR-ref1)
- [YOY : Année du copyright du document d'origine](#YOY_ref1)