<div class="footer-content">
  <p>
<strong>Guideline MEI – Consortium Musica2</strong><br>
Balland Chatignon, A. (CNRS, Musica2, IReMus & MSH Lorraine) Bottini, T. (CNRS, IReMus), Braud, A. (CNRS, RicercarLab), Gurrieri, M. (CNRS, IReMus), Roger, K. (ULorraine, CRULH)
</p>

  <div class="footer-logos">
    <img src="{{ 'assets/images/cnrs.png' | relative_url }}" alt="CNRS">
    <img src="{{ '/assets/images/Universite_de_Lorraine.png' | relative_url }}" alt="Université de Lorraine">
    <img src="{{ 'assets/images/Huma-num.jpg' | relative_url }}" alt="IR* Huma-Num">
    <img src="{{ '/assets/images/cesr.png' | relative_url }}" alt="CESR">
    <img src="{{ '/assets/images/crulh.png' | relative_url }}" alt="CRULH">
    <img src="{{ '/assets/images/IReMus.jpg' | relative_url }}" alt="IReMus">
    <img src="{{ '/assets/images/mshLorraine.png' | relative_url }}" alt="MSH Lorraine">
    <img src="{{ '/assets/images/musica2_complet.png' | relative_url }}" alt="Musica2">
  </div>
</div>