<div class="footer-logos">
  <img src="/guideline/assets/images/cnrs.png" alt="CNRS">
  <img src="/guideline/assets/images/Universite_de_Lorraine.png" alt="Université de Lorraine">
  <img src="/guideline/assets/images/Huma-num.jpg" alt="IR* Huma-Num">
  <img src="/guideline/assets/images/cesr.png" alt="CESR">
  <img src="/guideline/assets/images/crulh.png" alt="CRULH">
  <img src="/guideline/assets/images/IReMus.jpg" alt="IReMus">
  <img src="/guideline/assets/images/mshLorraine.png" alt="MSH Lorraine">
  <img src="/guideline/assets/images/musica2_complet.png" alt="Musica2">
</div>