.site-title.lh-tight {
  white-space: normal;
  display: block;
  max-width: 100%;
  padding-right: 0.5rem; /* espace bouton menu */
  font-size: 1.05rem;
  line-height: 1;
}

main {
  padding-bottom: 4rem; /* ajuster selon la hauteur des crédits */
}


.credits {
  position: fixed;   
  bottom: 0;         
  background: #fff;  /* couleur de fond pour éviter chevauchement */
  padding: 1rem;
  border-top: 1px solid #ddd;
  box-sizing: border-box;
  z-index: 9999;     /* au-dessus du contenu */
}

.site-button{
  margin-right : 4rem;
  color: #7253ed;
  text-decoration: none;
  background-image: linear-gradient(-90deg, #ebedf5 0%, rgba(235,237,245,0.8) 80%, rgba(235,237,245,0) 100%);
  font-weight: bold;
}

.site-button:hover {
  cursor: pointer;
  border-color: #5f3ceb;
  color: #5f3ceb;  
}

@media print {

  html, body {
    background: #fff !important;
    color: #000000 !important;
  }

  .credits,
  .side-bar,
  .site-header,
  .site-footer,
  .search,
  .aux-nav,
  .menu-button,
  nav,
  footer,
  footer * {
    display: none !important;
    visibility: hidden !important;
  }

  .main,
  .main-content,
  .main-content-wrap {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
  }

  h1, h2, h3 {
    page-break-after: avoid;
  }

  h2, h3 {
    page-break-before: always;
  }

  table {
    page-break-inside: avoid;
  }
}