/*Musica2 en filigrane*/
main::before {
 content: "";
  position: absolute;
  background-attachment: scroll;
  background-position: center;
  inset: 0;
  background: url("/guideline/assets/images/musica2.png") center / 60% no-repeat;
  opacity: 0.08;
  pointer-events: none;
  z-index: 0;
}

.site-title.lh-tight {
  white-space: normal;
  display: block;
  max-width: 100%;
  padding-right: 0.5rem;
  font-size: 1.05rem;
  font-family: libre-baskerville, serif;
  line-height: 1;
  color: #be362a;
}

/* Base des boutons */
.export-button {
  cursor: pointer;
  border: none;
  background: none;
}

/* bouton version desktop */
.export-desktop {
  margin: 1rem 1rem 1rem 2rem;
  padding: 0.5rem 0.75rem;
  color: #29367c;
  border-radius: 6px;
  background-image: linear-gradient(
    -90deg,
    rgb(242, 214, 145) 15%,
    rgba(242, 214, 145, 0.8) 40%,
    rgba(242, 214, 145, 0.6) 100%
  );
}

/* bouton version mobile */
.export-mobile {
  display: inline-flex;
  align-items: center;
  margin-right: 0.5rem;
}

.export-mobile .pdf-icon {
  width: 50px;
  height: 50px;
  margin-right: inherit;
}


/* responsive */
@media (max-width: 50rem) {
  .export-desktop {
    display: none !important;
  }
  

  .export-mobile {
    display: inline-flex;
    align-items: center;
  }
}

@media (min-width: 50rem) {
  .export-mobile {
    display: none !important;
  }
}

/*couleur du bouton burger*/
.icon{
  color: #29367c;
}

 .d-md-block {
  display: none !important;
}


.nav-list .nav-list-item .nav-list-link:hover,
.nav-list .nav-list-item .nav-list-link.active {
color: #29367c;
background-image: linear-gradient(-90deg, rgb(242, 214, 145) 15%, rgba(242, 214, 145, 0.8) 40%, rgba(242, 214, 145, 0.6) 90%, rgba(242, 214, 145,0) 100%);
}

a {
  color: #29367c;
}

.side-bar{
background-color: #f3c144;
}
/*
@media (min-width: 50rem) {
.side-bar {
  max-width: 33%;
  } 
}
*/
.site-title:hover {
  background-image: none;
}