.site-title.lh-tight {
  white-space: normal;
  display: block;
  max-width: 100%;
  padding-right: 0.5rem;
  font-size: 1.05rem;
  font-family: libre-baskerville, serif;
  line-height: 1;
  color: #be362a;
}


.export-button{
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 1rem;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  color: #29367c;
  border-radius: 6px;
  position: relative;
  background-image: linear-gradient(-90deg, rgb(242, 214, 145) 15%, rgba(242, 214, 145, 0.8) 40%, rgba(242, 214, 145, 0.6) 100%);
}

 .d-md-block {
  display: none !important;
}


.nav-list .nav-list-item .nav-list-link:hover,
.nav-list .nav-list-item .nav-list-link.active {
color: #29367c;
background-image: linear-gradient(-90deg, rgb(242, 214, 145) 15%, rgba(242, 214, 145, 0.8) 40%, rgba(242, 214, 145, 0.6) 90%, rgba(242, 214, 145,0) 100%);
}

a {
  color: #29367c;
}

.side-bar{
background-color: #f3c144;
}

@media (min-width: 50rem) {
.side-bar {
  max-width: 33%;
}
}
.site-title:hover {
  background-image: none;
}