.site-title.lh-tight {
  white-space: normal;
  display: block;
  max-width: 100%;
  padding-right: 0.5rem; /* espace bouton menu */
  font-size: 1.05rem;
  line-height: 1;
}

.credits {
  padding: 1rem;
}

.site-button{
  margin-right : 4rem;
  color: #7253ed;
  text-decoration: none;
  background-image: linear-gradient(-90deg, #ebedf5 0%, rgba(235,237,245,0.8) 80%, rgba(235,237,245,0) 100%);
  font-weight: bold;
}

.site-button:hover {
  cursor: pointer;
  border-color: #5f3ceb;
  color: #5f3ceb;  
}