  .main {
    margin-left: 18rem;
  }


.side-bar {
  overflow: visible;
}


.site-title.lh-tight {
  white-space: normal;
  display: block;
  max-width: 100%;
  padding-right: 0.5rem; /* espace bouton menu */
  font-size: 1.05rem;
  line-height: 1;
}