.site-title.lh-tight {
  white-space: normal;
  display: block;
  max-width: 100%;
  padding-right: 0.5rem; /* espace bouton menu */
  font-size: 1.05rem;
  line-height: 1;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.site-wrapper main {
  flex: 1;
}

.credits {
  background-color: #f0f0f0;
  padding: 1rem;
  text-align: center;
}

.site-button{
  margin-right : 4rem;
  color: #7253ed;
  text-decoration: none;
  background-image: linear-gradient(-90deg, #ebedf5 0%, rgba(235,237,245,0.8) 80%, rgba(235,237,245,0) 100%);
  font-weight: bold;
}

.site-button:hover {
  cursor: pointer;
  border-color: #5f3ceb;
  color: #5f3ceb;  
}