.site-title.lh-tight {
  white-space: normal;
  display: block;
  max-width: 100%;
  padding-right: 0.5rem; /* espace bouton menu */
  font-size: 1.05rem;
  line-height: 1;
  color: #be362a;
}

.export-button{

  margin-right : 4rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  padding: 12px 24px;
  text-decoration: none;
  color: #29367c;
  font-weight: bold;
  
  border-radius: 6px;
  position: relative;
}

.nav-list .nav-list-item .nav-list-link:hover,
.nav-list .nav-list-item .nav-list-link.active {
color: #29367c;
background-image: linear-gradient(-90deg, rgba(190, 54, 42, 1) 30%, rgba(190, 54, 42, 0.8) 60%, rgba(190, 54, 42, 0.6) 90%, rgba(190,54,42,0) 100%);
}

a {
  color: #29367c;
}

.side-bar{
background-color: #f3c144;
}

.site-title:hover {
  background-image: none;
}