.site-header {
  overflow: visible;
}

.site-header {
  min-height: auto;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}


.site-title.lh-tight {
  white-space: normal;
  line-height: 1.4;
  display: block;
}