html, body {
    background: #fff !important;
    color: #000 !important;
    font-family: serif;
    font-size:large;
    line-height: 1.5;
}

.print-page {
    page-break-after: always;
}

/* Pas de saut de page sur la dernière section */
.print-page:last-child {
    page-break-after: auto;
}

nav,
.sidebar,
.footer {
    display: none;
}

.md-break {
  display: block;
  height: 0;
}