html, body {
    background: #fff !important;
    color: #000000 !important;
    font-family: serif;
    line-height: 1.5;
}

.print-page {
  page-break-after: always;
}

.print-page:last-child {
  page-break-after: auto;
}

nav,
.sidebar,
.footer {
  display: none;
}